<div class="row ">
    <div class="col-sm-12 col-md-6 col-lg-3 bg-dark">
       <p>
        This is a paragraph, with google fonts 
       </p> 
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <p class="class2">الحب سماء لا تمطر غير الاحلام </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 bg-dark">
        <p>الي العربيه </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 bg-red ">
       <p class="class1">الحب سماء لا تمطر غير الاحلام </p>
    </div>
    
</div>
