.square-red >div
{
    width: 5rem;
    height: 5rem;
    background-color:sienna;
    transition: width 6s ,height 6s;
   
}
div.square-red  :hover
{
    width: 20rem;
    height: 20rem;
    
}
.img-resize 
{
    width: 5rem;
    height: 5rem;
    transition: width 6s ,height 6s; 
}
 img :hover
{
    width: 20rem;
    height: 20rem;

}
div.square-black 
{
    width: 5rem;
    height: 5rem;
    background-color:black;
    transition: width 6s ,height 6s;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}

