<div>====================== Get From Service With Observable=====================</div>
<div class="row">
    
    <div class="col-sm-3 square-red">
        <div>
          
        </div> 

    </div>
    <div class="col-sm-3">
       <div >
           <img   class="img-resize"  src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="">
        </div>

    </div>
    <div class="col-sm-3">
        <div class="square-black">
            <div></div>
        </div>
        <div class="square-black">
            <div></div>
        </div> <div class="square-black">
            <div></div>
        </div> <div class="square-black">
            <div></div>
        </div> <div class="square-black">
            <div></div>
        </div>

    </div>
</div>
